@include "generic.cfg" @ifExists ;

Duplex {
	#controls the rate of temperature decrease in Duplex
	temperature = "fast"; #["fast", "boltz", "exp"]
	#Annealing option describes how far the next input should be from the current input
	annealing = "fast-random"; #["fast", "boltz", "fast-random", "boltz-random"]
	initial_temperature = "2";
	initial_step_length = "1";

	#reinforcement learning options
	reinforcement_learning = "false";
	min_reward = "0.2";
	max_reward = "5";
	delta_reward = "1";

    plot{
        enable="true";      #["true", "false"]
		# determines the type of the plot. Can be the error time-series ("error"), distance time-series ("distance"),
		# parameter tree ("tree.parameter") and objective-tree ("tree.objective")
		type = "error";
        @if (osType() == "windows") {
            gnuplot = "C:\\opt\\gnuplot\\bin\\gnuplot.exe -persist";
        } @else {
            gnuplot = "/usr/local/bin/gnuplot";
        }
    };

	sensitivity-analysis {
		enable="true";
		mode="delta";
		relativeSensitivityThreshold = "0.0";
	};

	simulation{
		#spice simulation options
		engine = "hspice"; #["hspice", "internal"];
		template = working_directory + "inv_template.sp";
		netlist = working_directory + "inv_netlist.sp";
        logfile = working_directory + "sim.log";
		time = "0.001";
    };

	############################
	# Parameter list
	############################
    parameter {
        size = "2";
        uid-parameter {
            name = "pmosw";				#ideal=1.5u
            comment = "pmos width in inverter";
            range {
                min = "1";
                max = "10";
            };
            init = "1.5";		#can also be random, may be overridden if the initial state is random
            unit = "u";
        };

        uid-parameter {
            name = "nmosw";				#ideal=0.48u
            comment = "nmos width in inverter";
            range {
                min = "0.48";
                max = "10";
            };
            init = "0.48";
            unit = "u";
        };
    };


	############################
	# Performance metric list
	############################
    objective {
        size = "2";
        uid-objective {
            name = "td_f";
			keyword = "td_f";
            comment = "Measure delays";
            goal {
                optimum = "9.9748E-11";
                min = "9e-11";
                max = "1e-10";
            };
            min = "0";
            max = "1e-3";
        };
        uid-objective {
            name = "avgpwr";
			keyword = "avgpwr";
            comment = "The average power";
            goal {
                optimum = "8.0146E-05";
                min = "6e-5";
                max = "1e-4";
            };
            min = "0";
            max = "1e-3";
        };
    };
};
