Duplex {
	iterations = "100";
	output = "output.png";
	parameters = "2";
	objectives = "2";
	dimensions = "2";

	#controls the rate of temperature descrese in Duplex
	temperature = "exp"; #["fast", "boltz", "exp"]
	#Annealing option describes how far the next input should be from the current input
	annealing = "fast-random"; #["fast", "boltz", "fast-random", "boltz-random"]
	initial_temperature = "1";
	initial_step_length = "1";
	
	
	#reinforcement learning options
	reinforcement_learning = "true";
	min_reward = "0.2";
	max_reward = "5";
	delta_reward = "1";


	#spice simulation options
	simulation_engine = "hspice";
	netlist_template = "opamp_template.sp";
	temporary_netlist = "opamp_netlist.sp";
	simulation_time = "0.001";
}
