Duplex {
    @if (osType() == "windows") {
        working_directory = "C:\\Users\\adel\\code\\Duplex\\bin\\";
    } @else {
        working_directory = "/Users/adel/Dropbox/temporary/bin/";
    }
    
    mode = "load"; #["opt", "load"]
    iterations = "100";
	output = working_directory + "output.png";
    savefile = working_directory + "save.xml";
	dimensions = "2";
	initial_state_assignment = "random"; #["random", "assigned"]

	#controls the rate of temperature descrese in Duplex
	temperature = "fast"; #["fast", "boltz", "exp"]
	#Annealing option describes how far the next input should be from the current input
	annealing = "fast-random"; #["fast", "boltz", "fast-random", "boltz-random"]
	initial_temperature = "2";
	initial_step_length = "1";
	
	#reinforcement learning options
	reinforcement_learning = "true";
	min_reward = "0.2";
	max_reward = "5";
	delta_reward = "1";

    plot{
        enable="true";      #["true", "false"]
    };
    
	simulation{
		#spice simulation options
		engine = "internal"; #["hspice", "internal"];
		template = working_directory + "inv_template.sp";
		netlist = working_directory + "inv_netlist.sp";
        logfile = working_directory + "sim.log";
		time = "0.001";
    };
	
	############################
	# Parameter list 
	############################
    parameter {
        size = "2";
        uid-parameter {
            name = "pmosw";				#ideal=1.5u
            comment = "pmos width in inverter";
            range {
                min = "1";
                max = "4";
            };
            init = "1.5";		#can also be random, may be overridden if the initial state is random
            unit = "u";
        };
        
        uid-parameter {
            name = "nmosw";				#ideal=0.48u
            comment = "nmos width in inverter";
            range {
                min = "0.48";
                max = "2";
            };
            init = "0.48";
            unit = "u";
        };
    };
	
	
	############################
	# Performance metric list 
	############################
    objective {
        size = "2";
        uid-objective {
            name = "td_f";
			keyword = "td_f";
            comment = "Measure delays";
            goal = "9.9748E-11";
            min = "0";
            max = "1";
        };
        uid-objective {
            name = "avgpwr";
			keyword = "avgpwr";
            comment = "The average power";
            goal = " 8.0146E-05";
            min = "0";
            max = "1";
        };
        #uid-objective {
        #    name = "PM";
		#	 keyword = "PM";
        #    comment = " Measure Phase margin  (PM)  (deg)";
        #    goal = "0";
        #    min = "0";
        #    max = "0";
        #};
        #uid-objective {
        #    name = "GM";
		#	 keyword = "GM";
        #    comment = "Measure Gain Margin (GM)  (dB)";
        #    goal = "0";
        #    min = "0";
        #    max = "0";
        #};
    };
};
