
*.plist

*.pbxproj

*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcscheme
*.exe
bin/DuplexVS.ilk
*.log
*.filters
DuplexVS/DuplexVS.vcxproj
*.tlog
DuplexVS/Debug/main.obj
*.suo
DuplexVS/DuplexVS.sln
*.ilk
DuplexVS/Debug/configuration.obj
DuplexVS/Debug/vc120.pdb
*.idb
DuplexVS/Debug/duplex.obj
*.pdb
DuplexVS/Debug/state.obj
